 
  .SideDrawerToggler button {
    background: none;
    border: none;
    cursor: pointer;
    outline:none;
  }
 .SideDrawerToggler button img {
    height: 30px;
    width: 32px;
    padding: 2px;
    box-sizing: border-box;
}


@media (min-width: 700px) {
    .MobileOnly {
        display: none;
    }
}

  